@model QMP.ViewModels.ServiceInfos_ViewModel

@{
    ViewBag.Title = "修改气象服务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            气象服务 <small>修改气象服务</small>
        </h1>
        @*<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>*@
    </div>
</div>
<!-- /.row -->


        @using (Html.BeginForm("Edit", "ServiceInfos", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger alert-dismissable" })
            @Html.HiddenFor(a=>a.ServiceID)
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, new { @class = "form-control" })


                    @Html.ValidationMessageFor(model => model.CategoryID)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "标题" })
                    @Html.ValidationMessageFor(model => model.Title)

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Content, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Content, 10, 100, new { @class = "form-control", placeholder = "内容" })
                    @Html.ValidationMessageFor(model => model.Content)

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        }
 


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  <link rel="stylesheet" href="~/Scripts/summernote-master/dist/summernote.css">
<script type="text/javascript" src="~/Scripts/summernote-master/dist/summernote.js"></script>
<script src="~/Scripts/summernote-master/lang/summernote-zh-CN.js"></script>
<script type="text/javascript">
        $('#Content').summernote({
            height: 560,
            minHeight: null,
            maxHeight: null,
            focus: true,
            tabsize: 2,
            codemirror: {
                theme: 'monokai'
            },
            lang: "zh-CN",
            toolbar: [
                //['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                //['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                //['view', ['fullscreen', 'codeview']],
                //['help', ['help']]
            ]
            //onImageUpload: SummerNoteUploadPointImages
        });
</script>

}
