@model QMP.ViewModels.LoginUserModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">

                <br />
                <div class="row">
                    <div class="col-md-12">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                               
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PassWord, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="登录" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("注册为新用户", "Register")
                                </p>

                            }
                        </section>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}