<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    <style type="text/css">
        body {
            /*background-color:#227a9b;color: white;*/
            background-color: #394244;color: white;
        }
    </style>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
